@import 'bootstrap.min.css';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,600,800,500,700,900);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);

/*body{ background-color: #dde6e4; }*/

body, input, button, h1, h2, h3, h4, h5, h6, p, a{
  font-weight: 300;
  line-height:1.3em;
}
body, input, button{
  font-size:16px;
  color:#464f51;
}
h1, h2, h3, h4, h5, h6{
  font-family:'Raleway';
  padding:0;
  margin:0;
  line-height:1.2em;
}
h5, h6{
  font-weight:normal;
}
h1{ font-size:32px; }
h2{ font-size:28px; }
h3{ font-size:24px; }
h4{ font-size:18px; }
h5{ font-size:14px; }
h6{ font-size:12px; }

ul{
  list-style-type: none;
  margin:0;
  line-height: 1.8em;
}
p{
  margin-top:1.3em;
  line-height: 1.8em;
  font-family:'Open Sans';
}
a, a:hover{
  color: #e56442;
  padding-bottom:2px;
  -webkit-transition: all linear .15s;
  -moz-transition: all linear .15s;
  -o-transition: all linear .15s;
  transition: all linear .15s;
}
a:hover{ 
  border-bottom:1px solid #b2bfc1;
  text-decoration: none;
}
hr{
  border-top:1px solid #b2bfc1;
  margin:30px auto;
  max-width:88%;
}
.decorative:after{
  display: table;
  clear: both;
  content:' ';
  position:relative;
  left:43%;
  top:-11px;
  width:40px;
  height:30px;
  background:url(../img/curl1.svg) no-repeat;
  background-position: 3px 0px;
  background-size: 93% auto;
  border-top:none;
}

/* MAIN NAV */
.mainNav{ padding:0; }
.mainNav a{ color:#66929b; }
.name h1, .name h2{ 
  line-height:1em;
  white-space: nowrap;
}
.name{ 
  padding:20px 8px;
  text-align: center;
  margin:0 auto;
}
.first-name{ 
  font-size:32px;
  display:block; 
}
.last-name{
  font-size:22px;
  margin-top:4px;
  margin-right:5px;
  display:block;
}
.pagelinks, .biolinks{
  text-align: center;
  font-family: 'Raleway';
  padding:0;
}
.pagelinks{
  font-size:1.2em;
  border-top:1px solid #f3f3f6;
  border-bottom:1px solid #f3f3f6;
  display:none;
  position:relative;
}
.mobile{ display:block; }
.mobile .name{display:none;}
.fixed{
  position:fixed;
  top:0;
  width:100%;
  z-index:20;
  background-color:rgba(255,255,255,.85);
}
.fixed .name{
  display: inline;
  position:fixed;
  left:0;
  border-right:1px solid #DAD9D4;
  border-bottom:1px solid #DAD9D4;
  background-color:rgba(180,178,175,.2);
  color:#DAD9D4;
  font-weight: 400;
}
.pagelinks li{
  width: 100%;
  margin-bottom:10px;
  display: inline;
}
.pagelinks a{
  padding:14px 20px;
  display: block;
}
.pagelinks a:hover, .biolinks a:hover{
  border:none;
  color:#dde6e4;
  background-color: #6e706f;
}
.pagelinks .active, .biolinks .active{
  color:#fff;
  background-color: #B4B2AF;
}
.mobile .active{
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
.pagelinks .active::after{
  position:absolute;
  right:0;
  top:0;
  font-size:12px;
  content:'\25BF';
  font-weight:400;
  border-left:1px solid rgba(255,255,255,.3);
  color:rgba(255,255,255,.5);
  padding:14px 8px 14px 12px;
}
.biolinks{ 
  margin:-12px auto 15px auto; 
}
.biolinks li{
  display: inline;
  border-left:1px solid #dde6e4;
  font-size:0.9em;
}
.biolinks li:first-child{
  border:none;
  margin-left:-10px;
}
.biolinks a{ padding:5px;}
.biolinks a:last-child{ margin-left:5px;}

/* CONTENT */
.mainContent{ 
  padding:2em;
  border-top:1px solid #f6f6f9;
  border-bottom:1px solid #f6f6f9;
}
/*bg color in maincontent area */
.mainContent, .decorative:after{
  background-color: #fcfcfa;
}
.mainContent h1, .mainContent h2{
  margin-bottom:1em;
  color:#66929b;
  text-align: center;
}

/* ERICA INTRO */
.intro{
  max-width:600px;
  margin:0 auto;
}
.intro h1{
  text-align: left;
  font-family: 'Open Sans';
  font-size: 2.8em;
  color:#629ba6;
}
.intro hr{
  margin:40px auto;
}
.intro p{
  font-size: 1.15em;
  line-height: 1.55em;
}
.erica-pic{
  max-width:200px;
  width: 50%;
  height: 50%;
  margin-right:50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: block;
  margin: 10px auto;
  border:2px solid #666;
}

/* PIECE */
.piece{margin:4.5em auto 4em auto;}
.piece:last-child{
  margin-bottom:1em;
}
.section-info p, .piece p{
  margin:1.2em auto;
  max-width:88%;
}
.piece p:first-child{
  margin-top:0;
}

/* CAROUSEL */
.carousel{
  margin: 25px auto 12px auto;
}
.carousel .inner{
  -webkit-transition: all linear 1s;
    -moz-transition: all linear 1s;
    -o-transition: all linear 1s;
    transition: all linear 1s;
}
.carousel .item{
  width:88%;
  margin:7px 6%;
  background-color: #fff;
  -webkit-box-shadow: 0 1px .7em rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0 1px .7em rgba(0, 0, 0, 0.45);
  box-shadow: 0 1px .7em rgba(0, 0, 0, 0.45);
}
.carousel img{
  width:auto;
  margin:0 auto;
  max-width:100%;
  height:auto;
  max-height: 850px;
  position: relative;
  z-index:2;
}
.carousel-control {
  position: absolute;
  width: 50px;
  height: 70px;
  font-size: 70px;
  font-weight: 100;
  line-height: 58px;
  color: #fff;
  background: #4c4c4c;
  text-shadow:none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-opacity:.3;
  -moz-opacity:.3;
  opacity:.3;
  z-index:0;
}
.carousel-control{
  -webkit-transition: all linear .25s;
    -moz-transition: all linear .25s;
    -o-transition: all linear .25s;
    transition: all linear .25s;
}
.carousel-control:hover{
  background-color: #4c4c4c;

}
.carousel-control.left, .carousel-control.right{
  top:35px;
  border:none;
}
.carousel-control.left{
  left:0;
  text-align: left;
  padding-left:7px;
  background-image:none;
}
.carousel-control.right{
  right:0;
  text-align: right;
  padding-right:7px;
  background-image:none;
}
.carousel-indicators{
  top:-30px;
  bottom:auto;
}
.carousel-indicators li{
  background-color: #dde6e4;
  width:15px;
  height:15px;
}
.carousel-indicators .active{
  width:15px;
  height:15px;
  background-color: #B4B2AF;
}

/* RESUME */
.resume{
  margin:0 auto;
  max-width:580px;
}
.resume > div{
  padding:2em 0;
  font-size: 0.85em;
  font-weight: 400;
}
.resume h4{
  margin-bottom:4px;
}
.resume .blurb{
  padding:1em 1em 0 1em;
  margin-top:8px;
  border: 1px solid #f3f3f6;
  background-color:#fff;
  color:#222;
}
.resume p{
  margin:0 auto 1.3em auto;
}

/* FOOTER */
.footer{
  padding-top:1.5em;
  padding-bottom:1.5em;
  font-size:0.85em;
  font-weight:300;
  text-align: center;
  color:#999;
  background-color:#f1f5f4;
  border-top:1px solid #ccc;
}



@media (min-width: 600px) {
  body, input, button{
    font-size:16px;
  }
  h1{ font-size:36px; }
  h2{ font-size:30px; }
  h3{ font-size:24px; }
  h4{ font-size:18px; }
  h5{ font-size:16px; }
  h6{ font-size:14px; }
  .mainContent{
    padding-left:80px;
    padding-right:80px;
  }
}

@media (min-width: 992px) {
  hr{ margin:60px auto; }
  .allcontent{
    position:relative;
    overflow: hidden;
    z-index:0;
  }
  .mainContent{
    /*border-left:10px solid #f6f6f9;*/
    border:none;
    border-left:1px solid #f6f6f9;
    border-right:1px solid #f6f6f9;
    position:relative;
    margin-left:25%;
    max-width:75%;
    min-height:600px;
  }
  .mainNav{
    text-align: right;
    position:fixed;
  }
  .mainNav, .mainContent{
    padding-top:80px;
    padding-bottom:80px;
  }
  .name{
    float:none;
    width:auto;
    display:block;
    text-align:right;
    margin-right:30px;
    padding-bottom:10px;
  }

  .bg-dec1, .bg-dec2{
    position:fixed;
    width:300px;
    height:350px;
    background:url(../img/bg-dec.svg) no-repeat top right;
    z-index:-10;
  }
  .bg-dec1{
    bottom:-160px;
    left:13%;
  }
  .bg-dec2{
    top:-160px;
    left:78%;
    -webkit-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    transform: scaleY(-1);
  }
  .pagelinks, .biolinks{ 
    width:auto;
    display:block;
    text-align: right;
  }
  .mobile{
    display:none;
  }
  .pagelinks{
    font-size:1em;
    margin-top:25px;
  }
  .pagelinks li{
    width: 100%;
    margin-bottom:0;
    display: block;
  }
  .pagelinks a{
    padding:15px 43px 15px 15px;
    display: block;
  }
  .pagelinks .active{
    color:#fff;
    background-color: #B4B2AF;
  }
  .pagelinks .active::after{
    display:none;
  }
  .pagelinks a:hover{
    color:#dde6e4;
    background-color: #6e706f;
  }
  .biolinks{
    display:block;
    margin-right:40px;
    margin-top:0;
  }
  .decorative:after{
    left:46%;
    top:-12px;
    width:46px;
    height:30px;
    background-position: 4px 0px;
    background-size: 93% auto;
  }
  .piece{margin:5em auto;}
  .footer{
    z-index:10;
  }

  /*intro*/
  .erica-pic{
    margin:0 0 30px 0;
  }

  /* resume */
  .resume > div{
    font-size:0.75em;
  }

  /*.carousel{
    width:94%;
    margin-left:6%;
    margin-top:-10px;
  }
  .carousel .inner{
    -webkit-transition: all linear 1s;
      -moz-transition: all linear 1s;
      -o-transition: all linear 1s;
      transition: all linear 1s;
  }
  .carousel .item{
    padding:.7em;
    text-align:center;
    max-width:93%;
  }
  .carousel img{
    width:auto;
    margin:0 auto;
    max-width:100%;
    height:auto;
    max-height: 850px;
    -webkit-box-shadow:  0 1px .7em rgba(0, 0, 0, 0.45);
    -moz-box-shadow:  0 1px .7em rgba(0, 0, 0, 0.45);
    box-shadow:  0 1px .7em rgba(0, 0, 0, 0.45);
  }
  .carousel-control {
    position: absolute;
    top:70px;
    width: 40px;
    height: 40px;
    font-size: 52px;
    font-weight: 100;
    line-height: 29px;
    color: #fcfcfa;
    text-align: center;
    background: #6e6963;
    border:1px solid #a09a91;
    text-shadow:none;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=1-0);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }
  .carousel-control{
    -webkit-transition: all linear .25s;
      -moz-transition: all linear .25s;
      -o-transition: all linear .25s;
      transition: all linear .25s;
  }
  .carousel-control:hover{
    border:1px solid #a09a91;
    background-color: #43403c;

  }
  .carousel-control.left{
    left:-25px;
    background-image:none;
  }
  .carousel-control.right{
    right:0;
    background-image:none;
  }
  .carousel-indicators{
    top:110px;
    margin-left:0;
    left:auto;
    right:10px;
    width:auto;
    bottom:auto;
  }
  .carousel-indicators li{
    border: 1px solid #a09a91;
    background-color: #6e6963;
    display: block;
    width:15px;
    height:15px;
    margin:15px 1px;
  }
  .carousel-indicators .active{
    margin:10px 1px;
    width:15px;
    height:15px;
    background-color: #cac1b6;
  }*/
}

@media (min-width: 1200px) {
  .mainContent{
    max-width:66%;
  }
}
